/* 노멀라이즈 */
body, ul, li {
  margin:0;
  padding:0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 폰트 */
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 라이브러리 */
.con {
  width: 1440px;
  margin: 0 auto;
}

.hid {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 1px;
  width: 1px;
}

/* 커스텀시작 */
html {
  font-size: 20px;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 1rem;
  /* margin: 1rem; */
}

/* heaer */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 0.8rem;
  background: rgba(255, 255, 255, 0.75);
}

header.active {
  transform: translateY(-100%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.header_wrap {
  /* border:2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (min-width:960px) {
  .header_wrap {
  max-width:1440px;
  }
}

#header nav > ul ul,
#header nav::before{
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#header nav::before {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  content: '';
  height: 0;
  z-index: -1;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.75);
}

#header nav:hover::before,
#header nav:focus::before{
  height: 206px;
  opacity:1;
  z-index: 2;
  visibility:visible;
}

/* 1차메뉴 */
#header nav > ul {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: flex-start;
}

#header nav a{position: relative;}

#header nav > ul > li {
  position: relative;
}

#header nav > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 0 2.2rem;
  font-weight: 600;
  font-size: 0.9rem;
  color:#222;
}

#header nav > ul > li > a .dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff592E;
  right: 35px;
  top: 50px;
}

#header nav > ul > li:hover > a,
#header nav > ul > li:focus > a {
  color: #ff592E;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

#header nav > ul > li > a::before {
  display: block;
  position: absolute;
  content:"";
  bottom: 0;
  left: 2.2rem;
  right: 2.2rem;
  height: 2px;
  background: #ff592e;
  transform: scaleX(0);
  transform-origin: top right;
  transition:all 0.3s;
}

#header nav > ul > li:last-child > a::before {
  /*right: 0;*/
}

#header nav > ul > li:hover > a::before,
#header nav > ul > li:focus > a::before {
  transform: scaleX(1);
  transform-origin: top left;
}

#header nav > ul > li:last-child > a {
  padding-right: 0;
}

#header nav > ul > li > a > span.shop {
  display: inline-block;
  background: #ff592E;
  color: #fff;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 0.75rem;
  padding: 0 0.9rem;
}

/* 2차메뉴 */
#header nav > ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 120%;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  padding: 2rem 0 2rem 2.2rem;
}

#header nav:hover > ul ul {
  opacity:1;
  visibility:visible;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#header nav > ul > li:last-child > ul{ 
  padding-left: 0;
  text-align: right
}


#header nav > ul > li > a + ul > li {
  display: block;
  padding: 8px 0;
}

#header nav > ul > li > a + ul > li a { 
  color:#222;
  font-size: 0.9rem;
  padding: 8px 0;
}

#header nav > ul > li > a + ul > li:hover a,
#header nav > ul > li > a + ul > li:focus a { 
  color:#ff592E;
  transition: all 0.2s;
}

#header nav > ul > li:last-child > a::before {
  right: 0;
}

/* section_1 메인슬라이드 */


[data-aos=fade-down] {
  transform: translate3d(0,-100px,0)
}

.section_1 {
  height: 100%;
  font-size: 0;
}

.swiper .swiper-pagination {
  position: absolute;
  bottom: 2rem !important;
}

.swiper .swiper-pagination-bullet {
  background-color: #ff592e;
  margin: 0 10px !important;
  width: 10px;
  height: 10px;
}

.slider-box-1 {
  height: 100%;
}

.slider-box-1 .swiper {
  width: 100%;
  height:100%;
  /* height: 54rem; */
}

.slider-box-1 .main_img {
  width: 100vw;
}

.main_wrap {
  max-width: 72rem;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main_wrap .txt_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1440px;
  padding: 0 16px;
  text-align: left;
}

.main_wrap .txt_wrap .main_txt {
  color:#f43b00;
  font-size: 2.7rem;
  font-weight: 400;
  font-family: 'ONE-Mobile-Title';
  line-height: 3.5rem;
  word-spacing: -0.5rem;
  margin-bottom: 5.5rem;
}

.main_wrap .txt_wrap .main_btn{
  padding:20px 48px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #f43b00;
  border:1px solid #f43b00;
  word-spacing: -0.1rem;
}

/* section_2 */
.section_2.new-items {
  background: url(../img/bg_news-item.png) 0 0 no-repeat #fff;
  background-size: 40vw 46vw;
  height: 50vw;
}

.new-items_con {
  width: 72rem;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.section_2 .new-items_header {
  width: 26vw;
  padding-top: 6.25vw;
  padding-left: 1rem;
}

.section_2 .new-items_sub-tit {
  font-size: 1.9vw;
  color:#f43400;
  font-family: 'yg-jalnan';
}

.section_2 .new-items_tit {
  font-family: 'ONE-Mobile-Title';
  font-size: 3.25vw;
  color:#f43400;
  letter-spacing: -0.1rem;
  margin-top: 1.5rem;
}

.section_2 .new-items_info {
  font-family: 'NanumSquare';
  font-size: 1.3vw;
  margin-top:1.5rem;
  color:#1a1a1a;
}

.section_2 .new-items_more {
  display: inline-block;
  position: relative;
  font-size: 0.85vw;
  font-weight: 600;
  margin-top: 8.5vw;
}

.section_2 .new-items_more::after {
  position: absolute;
  content: "";
  width: 1.5vw;
  height: 0.41vw;
  right: -2vw;
  top: 0.41vw;
  background: url(../img/arrow_right.png) 0 0 no-repeat;
  background-size:1.5vw 0.41vw;
}

/* .section_2 슬라이드 */
.section_2 .new-items_list {
  position: absolute;
  width: 53vw;
  left: 40%;
  top: 26%;
}
.slider-box-2 .swiper {
  height: 34.8rem;
}

.swiper-slide {
  flex-shrink: 0;
  position: relative;
  text-align: center;
}

.new-items_thumbnail {
  text-align: center;
}

.new-items_thumbnail img {
  width: 9.6vw;
}

.slider-box-2 .swiper .swiper-slide {
  padding-top: 8vw;
}

.slider-box-2 .swiper .swiper-slide.swiper-slide-active {
  padding: 0;
}

.slider-box-2 .swiper .swiper-slide.swiper-slide-active img {
  width: 14vw;
}

.new-items_name {
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 1.875vw;
  color: #f43b00;
}

.new-items_en-name {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size: 0.8vw;
  color: #f43b00;
}

.new-items_list-info {
  font-size: 0.8vw;
  color:#252525;
  line-height: 1.25vw;
  margin-top: 1.0416666667vw;
  font-family: 'NanumSquare';
  word-break: keep-all;
}

.new-items_nav-wrap {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px; */
  width: 16.6vw;
}

.slider-box-2 .swiper-button-prev::after,
.slider-box-2 .swiper-button-next::after {
  display:none;
}

.slider-box-2 .swiper-button-prev {
  position: absolute;
  left: 0vw;
  top: 13vw;
}
.slider-box-2 .swiper-button-next {
  position: absolute;
  top: 13vw;
  right: 36vw;
}

/* section3 */
.section_3.signature-item {
  height: 30vw;
  background: url(../img/bg_signature-item.png) 100% 0 no-repeat #fff;
  background-size: 57vw;
  padding-top: 8rem;
}

.section_3 .signature-item_con {
  width: 72rem;
  margin: 0 auto;
}

.section_3 .signature-item_tit {
  font-size: 1.9vw;
  color:#f43400;
  font-family: 'yg-jalnan';
}

.section_3 .signature-item_description {
  width: 25vw;
  font-family: 'NanumSquare';
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 1.8vw;
  letter-spacing: -0.1rem;
}

.section_3 .signature-item_tit-point {
  font-size: 1.4vw;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

.section_3 .signature-item_btn {
  display: inline-block;
  font-family: 'NanumSquare';
  font-size: 1.2vw;
  font-weight: 600;
  color:#f43b00;
  border: solid 1px #f43b00;
  padding: 1rem 2.5rem;
  margin-top: 1.3rem;
}

/* section_4 */
.section_4 .notice_header {
  position: relative;
  border-bottom: solid 0.9vw #f0eae8;
  margin-bottom:5.9vw;
  height: 7vw;
}

.section_4 .notice_header-tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
  font-size: 4.2vw;
  color: #f43b00;
  font-family: 'yg-jalnan';
  width: 30vw;
  background: #fff;
}

.section_4 .notice_items {
  display: flex;
  margin-left: -1.05vw;
  padding-bottom: 6.5vw;
}

.section_4 .notice_item {
  margin-left: 1.05vw;
  border:2px solid #ff592e;
  padding:1.5vw 1.3vw 2.6vw;
  text-align: left;
}

.section_4 .notice_item img {
  width: 100%;
}

.section_4 .notice_tag {
  margin-top:2vw;
  font-size: 0.95vw;
  color:#ff592e;
  font-weight: 600;
}

.section_4 .notice_tit {
  margin-top: 1vw;
  color:#ff592e;
  font-family: 'NanumSquare';
  font-size: 2.15vw;
  font-weight: 600;
  letter-spacing: -0.15vw;
}

.section_4 .notice_content {
  margin-top: 1vw;
  font-size: 0.9vw;
  font-family: 'NanumSquare';
  color:#222;
}

/* section_5 */
.section_5.support {
  position: relative;
  overflow: hidden;
  background: url(../img/section_5-bg_support.jpg) 100% 0% no-repeat;
  height: 35.8vw;
}

.section_5 .support_tit {
  margin-top: 6.3vw;
  font-weight: 600;
  font-size: 3vw;
  color: #f43b00;
}

.section_5 .support_info {
  width: 60%;
  color: #1a1a1a;
  font-size: 1.4vw;
  margin-top: 1vw;
}

.section_5 .support_btn {
  display: inline-block;
  padding:0.8vw 3vw;
  border:1px solid #282828;
  margin-top:3vw;
  color:#282828;
  font-size: 1.25vw;
  font-weight: 600;
}

/* section_6 */
.section_6.more-info {
  height: 30vw;
  display: flex;
  position: relative;
}

.section_6 .more-info_bg-left {
  background: #f0eae8;
  width: 50%;
}

.section_6 .more-info_bg-right {
  width: 50%;
  background: url(../img/bg_finder.png) 100% 101% #f43b00 no-repeat;
  background-size: 15vw;

}

.section_6 .more-info_con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  display: flex;
}

.section_6 .more-info_item {
  width: 50%;
}

.section_6 .more-info_item-left {
  background: url(../img/bg_smartphone.png) 87% 100% no-repeat;
  background-size: 20vw 25vw;
}

.section_6 .more-info_tit {
  font-family: 'NanumSquare';
  font-size: 3.15vw;
  font-weight: 800;
  text-align: left;
  color:#f43b00;
  margin-top:7.2vw;
}

.section_6 .more-info_message {
  font-family: 'NanumSquare';
  font-size: 1.3vw;
  font-weight: 600;
  margin-top: 1.5vw;
  width: 42%;
  color:#f43b00;
  word-break: keep-all;
}

.more-info_item-right .more-info_tit,
.more-info_item-right .more-info_message {
  color:#fff;
  padding-left: 10vw;
}

.more-info_btn {
  position: relative;
  display: inline-block;
  font-size: 0.95vw;
  font-weight: 600;
  margin-top: 5vw;
}

.more-info_btn::after {
  content: "";
  position: absolute;
  background: url(../img/arrow_right.png) 0 0 no-repeat;
  width: 1.5vw;
  height: 0.4vw;
  top: 0.5vw;
  right: -2.2vw;
}

.more-info_finder {
  background: #fbf4e4;
  width: 14vw;
  height: 3vw;
  margin-top: 3.5vw;
  margin-left: 10vw;
}

.more-info_finder input {
  height: 2.8vw;
  width: 10vw;
  font-family: "NanumSquare";
  font-weight: 700;
  font-size: 1.3vw;
  color: #f43b00;
  padding-left: 1vw;
  background-color: #fbf4e4;
  vertical-align: top;
  outline: none;
  border: 0;
}

input::placeholder {color:#f43b00;}

.more-info_finder .search-btn {
  border: none;
  outline: none;
  background: #fbf4e4;
  width: 2vw;
}

.more-info_finder .search-btn > img {
  width: 100%;
  height: auto;
  margin-top: 0.7vw;
}

/* footer */
#footer {
  width: 100%;
  padding: 120px 0;
  overflow-x: hidden;
}

.footer-wrap {
  width: 1288px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_logo {
  width: 192px;
}

.footer-wrap1 ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.footer-wrap1 ul .point_org {
  color:#ff592E;
}

.footer-wrap1 ul ul {
  display: block;
  width: 100%;
  font-size: 16px;
  color:rgba(34,34,34,0.7);
  font-weight: 100;
  margin-top: 1.6rem;
}

.footer-wrap1 ul ul li + li {
  margin-top: 0.8rem;
}

.footer-wrap2 {
  margin-top: 2.6vw;
  border-top:1px solid rgba(0,0,0,0.1);
}

.footer-wrap2 .family-wrap {
  margin-top: 1.15vw;
}

#footer select {
  border-top:none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  appearance: none;
  font-family:'SpoqaHanSansNeo-Regular';
  outline: 0;
}

.footer-wrap2 .family-wrap .select {
  width: 300px;
  height: 90px;
  line-height: 90px;
  border-bottom: 2px solid #000;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  background: url(../img/plus.svg) 100% no-repeat;
}

#footer .copyright {
  width: 30.7vw;
  padding: 52px 0 35px;
  color: rgba(34, 34, 34, 0.4);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01rem;
}

#footer .copyright .point_black {
  color:#000;
}

#footer .playstore {
  display: flex;
}

#footer .playstore a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(34,34,34,0.1);
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 600;
}

.icon_apple {
  background-image: url(../img/appstore.svg);
  width: 26px;
  height: 26px;
  margin-right: 13px;
}

.icon_google {
  background-image: url(../img/googleplay.svg);
  width: 26px;
  height: 26px;
  margin-right: 13px;
}

#footer .playstore .btn-qr {
  border:none;
}